# Examples to enable LSP and DAP with containers


########### for DAP

## these env is to comply with my neovim config especially with these two files
# - https://github.com/ryuheechul/dotfiles/blob/master/nvim/lua/plugins/debug.lua
# - https://github.com/ryuheechul/dotfiles/blob/master/nvim/lua/plugins/config/dap.lua


# with DAP, it should only involve one container that is running the app

export DAP_PYTHON_REMOTE_HOST='localhost' # this is also default
export DAP_PYTHON_REMOTE_PORT='5678' # this is also default
export DAP_PYTHON_REMOTE_ROOT='/app' # this is also default

# this one is for the actual running container
export DAP_PYTHON_REMOTE_ROOT_PACKAGE='/usr/local/lib/python3.10/site-packages'

# it's path on localhost that copied files via `make cp-site`
export DAP_PYTHON_LOCAL_ROOT_PACKAGE="$(pwd)/from-container/usr/local/lib/python3.10/site-packages"


########### for LSP

## these env is to comply with my neovim config especially with these two files

# - https://github.com/ryuheechul/dotfiles/blob/master/nvim/lua/plugins/lsp.lua
# - https://github.com/ryuheechul/dotfiles/blob/master/nvim/lua/plugins/config/lsp-servers.lua

# with LSP, there is one more container (that will be launched via the neovim setup or you could do that your self it's just `docker run` at the end of the day)

# this one is for the volume that is shared to pyright container from actual container
export LSP_PYRIGHT_ADDITIONAL_VOLUME=python-flask-docker-hello-world_example-site-path

# this one is for the pyright container
export LSP_PYRIGHT_VOLUME_CONTAINER_PATH="$(pwd)/from-container/usr/local/lib/python3.10"
